@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.garden-grid {
    display: grid; /* Use CSS grid for the layout */
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; 
}
