@use '../../styles/partials/resets' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;


.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-image: url(../../assets/backgrounds/sticky-note.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25rem;
    height: 50vh;
    width: 100%;

    @include tablet {
        width: 50%;
        padding: 2rem !important;
    }

    @include desktop {
        width: 50%;
    }
}

.dropdowns {
    display: flex;
    flex-direction: row;
    align-items: center;
}