@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;
@use "resets" as *;

html {
    background-color: $white;
}

header {
    width: 100%;
}

body,
*::placeholder,
button {
    color: $rich-black;
    font-family: "Raleway Light", Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "Raleway Bold";
    font-size: 1.75rem;
    line-height: 2.25rem;
}

h2 {
    font-family: "Raleway Bold";
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h3 {
    font-family: "Raleway Semi Bold";
    font-size: 0.813rem;
    line-height: 1.25rem;
}

h4 {
    font-family: "Raleway Semi Bold";
    font-size: 0.6875rem;
    line-height: 1rem;
}

p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
}

button {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6.25rem;
    height: 2.25rem;

    @include tablet {
        height: 2.375rem;
    }
}

input[type=text],
textarea {
    height: 2.25rem;

    @include tablet {
        height: 2.375rem;
    }
}

.label {
    font-size: 0.6875rem;
    text-transform: uppercase;
}