@font-face {
    font-family: "Playpen Sans";
    src: url(../../assets/fonts/Playpen_Sans/PlaypenSans-Thin.ttf) format("opentype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Playpen Sans";
    src: url(../../assets/fonts/Playpen_Sans/PlaypenSans-ExtraLight.ttf) format("opentype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Playpen Sans";
    src: url(../../assets/fonts/Playpen_Sans/PlaypenSans-Light.ttf) format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Playpen Sans";
    src: url(../../assets/fonts/Playpen_Sans/PlaypenSans-Regular.ttf) format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Playpen Sans";
    src: url(../../assets/fonts/Playpen_Sans/PlaypenSans-Medium.ttf) format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Playpen Sans";
    src: url(../../assets/fonts/Playpen_Sans/PlaypenSans-SemiBold.ttf) format("opentype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Playpen Sans";
    src: url(../../assets/fonts/Playpen_Sans/PlaypenSans-Bold.ttf) format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Playpen Sans";
    src: url(../../assets/fonts/Playpen_Sans/PlaypenSans-ExtraBold.ttf) format("opentype");
    font-style: normal;
    font-weight: 800;
}