@font-face {
    font-family: "Raleway Thin";
    src: url("../../assets/fonts/raleway/Raleway-Thin.ttf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway Light";
    src: url("../../assets/fonts/raleway/Raleway-Light.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway Semi Bold";
    src: url("../../assets/fonts/raleway/Raleway-SemiBold.ttf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway Bold";
    src: url("../../assets/fonts/raleway/Raleway-Bold.ttf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
