$oxford-blue: #011936;
$rich-black: #020D1A; //primary font colour
$charcoal: #465362; //secondary font colour
$cambridge-blue: #82A3A1;
$olivine: #9FC490;
$green-tea: #C0DFA1;
$vanilla: #DEDCA0;
$white: #f7f4f0;