@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.signup-main {
    background: linear-gradient($green-tea, $vanilla, $cambridge-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form {
    width: 15rem;
    height: 20rem;
    background: transparent;

    @include tablet {
        width: 25rem;
    }

    header {
        position: relative;
        z-index: 4;
        background: white;
        padding: 1.25rem 2.5rem;
        border-radius: 0.9375rem 0.9375rem 0 0;
    }

    form {
        position: relative;
    }

    .input-section {
        width: 100%;
        position: absolute;
        display: flex;
        left: 50%;
        transform: translate(-50%, 0);
        height: 4.6875rem;
        border-radius: 0 0 0.9375rem 0.9375rem;
        overflow: hidden;
        z-index: 2;
        box-shadow: 0rem 0rem 6.25rem rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-in;

        &.folded {
            width: 95%;
            margin-top: 0.625rem;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 1;

            input {
                background-color: $vanilla;
            }

            span {
                background-color: $vanilla;
            }
        }

        &.folded+.folded {
            width: 90%;
            margin-top: 1.25rem;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 0;

            input {
                background-color: rgb(225, 188, 239);
            }

            span {
                background-color: rgb(225, 188, 239);
            }
        }

        &.fold-up {
            margin-top: -4.6875rem;
        }
    }

    form input {
        background: lighten(rgb(243, 243, 251), 5%);
        color: $cambridge-blue;
        width: 80%;
        border: 0;
        padding: 1.25rem 2.5rem;
        margin: 0;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $cambridge-blue;
            text-transform: uppercase;
        }
    }
}

.animated-button {
    width: 20%;
    background-color: $olivine;

    span {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        line-height: 4.6875rem;
        text-align: center;
        height: 4.6875rem;
        transition: all 0.2s ease-in;

        i {
            font-size: 1.5625rem;
            color: $olivine;
        }
    }

    .next-button {
        background: transparent;
        color: $olivine;
        font-weight: 100;
        width: 100%;
        border: 0;
    }
}

.next {
    margin-top: -4.6875rem;
}

.success {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
    height: 4.6875rem;
    border-radius: 0 0 0.9375rem 0.9375rem;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0rem 0rem 6.25rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in;
    background: $olivine;
    margin-top: -4.6875rem;

    p {
        color: white;
        font-weight: 900;
        letter-spacing: 0.125rem;
        font-size: 1.125rem;
        width: 100%;
        text-align: center;
    }
}