@use '../../styles/partials/resets' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.main {
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 1px 3px 7px $green-6;
}

.diary {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }
}
