@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.nav {
    padding: 1rem 1rem .5rem;
    background-color: $cambridge-blue;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

a {
    color: $white !important;

    &.active {
        color: $rich-black !important;
    }

    &:visited {
        color: $rich-black;
    }
}