@use '../../styles/partials/resets' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.title {
    text-align: center;
    text-transform: uppercase;
}

.highlighted {
    color: $green-1;
    font-weight: 500;
}

.notifier {
    text-align: center;

    &__icon {
        width: 5rem;
        height: auto;
        align-self: center;
    }
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}