@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


.container {

    &__main {
        background-image: url('../../assets/backgrounds/garden-bg.svg');
        width: 100vw;
        min-height: 100vh;
        background-size: cover;
        padding: 2rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
        width: 100vw;

        @include tablet {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    &__obj {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
}

.soil-plot {
    margin-top: 3rem;
    width: 6rem;
    cursor: pointer;
}

.planted {
    width: 5rem;
}