@use '../../styles/partials/resets' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.diary {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }

    &__goals {
        display: flex;
        flex-direction: column;
        padding: 1rem 1.5rem;
        gap: 1rem;
        margin-bottom: 1rem;
        margin: 0;
        border-top: 0.0625rem solid rgba(70, 83, 98, .35);

        @include tablet {
            width: 50%;
            padding: 0 1.5rem;
            margin: 1rem 0;
            border-top: 0;
            border-left: 0.0625rem solid rgba(70, 83, 98, .35);
        }

        &__title {
            padding-bottom: .5rem;
            color: $green-5;
        }

        &__input {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 1rem;
        }
    }
}
